@import "variables.scss";
/* fira-sans-100 - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-100.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Thin'), local('FiraSans-Thin'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-100.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-100.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-100italic - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 100;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-100italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Thin Italic'), local('FiraSans-ThinItalic'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-100italic.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-100italic.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-200 - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-200.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans ExtraLight'), local('FiraSans-ExtraLight'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-200.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-200.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-200.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-200italic - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 200;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-200italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans ExtraLight Italic'), local('FiraSans-ExtraLightItalic'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-200italic.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-200italic.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-300italic - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Light Italic'), local('FiraSans-LightItalic'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-300italic.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-300italic.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-300 - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Light'), local('FiraSans-Light'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-300.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-300.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-italic - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Italic'), local('FiraSans-Italic'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-italic.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-italic.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-500italic - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-500italic.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-500italic.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-500 - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Medium'), local('FiraSans-Medium'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-500.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-600 - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-600.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-600.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-600italic - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans SemiBold Italic'), local('FiraSans-SemiBoldItalic'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-600italic.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-600italic.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-700italic - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-700italic.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-800 - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-800.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans ExtraBold'), local('FiraSans-ExtraBold'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-800.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-800.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Bold'), local('FiraSans-Bold'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-700.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-800italic - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 800;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans ExtraBold Italic'), local('FiraSans-ExtraBoldItalic'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-800italic.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-800italic.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-900 - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-900.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Black'), local('FiraSans-Black'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-900.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-900.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-900italic - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 900;
  src: url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Black Italic'), local('FiraSans-BlackItalic'),
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-900italic.woff') format('woff'), /* Modern Browsers */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fira-sans-font-path}/fira-sans-v7-cyrillic_latin-900italic.svg#FiraSans') format('svg'); /* Legacy iOS */
}