.nav-main-menu{
  list-style: none;
  position: relative;
  font-family: $headings-font-family;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 100%;
  line-height: 0;
  margin: 0;
  padding: 0;
  >li{
    position: relative;
    line-height: $line-height-base;
    @media (max-width: $screen-xs-max) {
      border-top: 1px solid lighten($brand-primary, 4%);
      &:first-child{
        border-top: none;
      }
    }
    @media (min-width: $screen-sm-min) {
      display: inline-block;
    }
    a{
      display: block;
      padding: $grid-gutter-width/2;
      &, &:hover, &:focus, &:active{
        color: inherit;
        text-decoration: none;
      }
      &:hover, &:focus, &:active, li.active>&{
        background-color: darken($brand-primary, 3%);
      }
    }
  }
}