.columns{
  margin: 0 $grid-gutter-width/-2;
  column-gap: 0;
  @media (min-width: $screen-xs-min) {columns: 2}
  @media (min-width: $screen-lg-min) {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  &__item{
    display: inline-block;
    width: 100%;
    padding: 0 $grid-gutter-width/2;
    margin-bottom: $grid-gutter-width;
  }
}