.nav-main-menu__dropdown{
  white-space: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  @media (min-width: $screen-sm-min) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: darken($brand-primary, 3%);
    padding: 0 $grid-gutter-width/2;
    z-index: $zindex-dropdown;
    @supports (pointer-events: none) {
      display: block;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.35s ease;
    }
  }
  @media (min-width: $screen-sm-min) {
    .nav-main-menu__li:hover &{
      display: block;
      @supports (pointer-events: none) {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }
  .nav-main-menu__li{
    border-top: 1px solid lighten($brand-primary, 4%);
    &:first-child{
      border-top: none;
    }
  }
}