$footer-bg: $brand-primary !default;
$footer-color: #ffffff !default;
$footer-font-size: $font-size-small;
.footer{
  background-color: $footer-bg;
  color: $footer-color;
  font-size: $footer-font-size;
  padding: $grid-gutter-width 0;
  &__title{
    color: inherit;
    margin-top: 0;
  }
  &__list{ margin-bottom: 0}
  &__dividing{
    border-top: 1px solid lighten($footer-bg, 4%);
    border-bottom: 1px solid lighten($footer-bg, 4%);
    margin-bottom: $grid-gutter-width;
    padding: $grid-gutter-width/2 0;
    .row{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      &:before, &:after{ content: none}
      .col-xs-12{padding: $grid-gutter-width/2}
      @media (min-width: $screen-lg-min) {
        text-align: right;
      }
    }
  }
  &__bottom{
    position: relative;
    font-size: $font-size-extra;
    margin: 0 $grid-gutter-width/-2;
    @media (min-width: $screen-sm-min) {
      display: flex;
      justify-content: flex-start;
      flex-flow: row wrap;
      align-items: flex-start;
    }
  }
  &__include{
    flex: 0 0 auto;
    padding: 0 $grid-gutter-width/2;
    @media (max-width: $screen-xs-max) {
      margin-top: $grid-gutter-width/2;
      &:first-child{ margin-top: 0}
    }
    &_type{
      &_right{
        flex: 10 0 auto;
        width: 100%;
        margin-top: $grid-gutter-width/2;
        @media (min-width: $screen-md-min) {
          text-align: right;
          width: auto;
          margin-top: 0;
        }
        >*{
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    a{white-space: nowrap}
  }

  a{&, &:hover, &:focus, &:active{color: inherit}}
}