.nav-list-inline{
  list-style: none;
  font-size: $font-size-small;
  margin-left: -$grid-gutter-width;
  margin-bottom: 0;
  line-height: 0;
  padding: 0;
  >li{
    padding: $x*2 0;
    padding-left: $grid-gutter-width;
    position: relative;
    line-height: $line-height-base;
    @media (min-width: $screen-sm-min) {
      display: inline-block;
    }
    a{ display: block}
  }
}