// block: 'space'
$x: 3px !default;
$s: 5px !default;
$m: 10px !default;
$l: 20px !default;

//grid
$grid-gutter-width: 20px;
$screen-min: 320px;
$container-large-desktop:      (1150px + $grid-gutter-width);

//btn
$btn-border-radius-base:         50px;
$btn-border-radius-large:        50px;
$btn-border-radius-small:        50px;
$btn-font-weight:  800;

//Color
$gray-base:              #000;
$gray-darker:            lighten($gray-base, 14.5%);   // #252525
$gray-dark:              lighten($gray-base, 33.5%);   // #555555
$gray:                   lighten($gray-base, 60%);   // #999999
$gray-light:             lighten($gray-base, 71.6%);   // #b7b7b7
$gray-lighter:           lighten($gray-base, 80%);   // #cccccc


$brand-primary:         #37b13b;
$brand-success:         #99cc00;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;


// Font
$font-family-sans-serif:  "PT Sans", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;
$headings-font-family:   "Fira Sans", "PT Sans", Helvetica, Arial, sans-serif !default;

$font-size-base:          16px;
$font-size-large:         ceil(($font-size-base * 1.125)); // 18px
$font-size-small:         ceil(($font-size-base * 0.875)); // 14px
$font-size-extra:         ceil(($font-size-base * 0.75)); // 12px

$line-height-base:        1.5; //  16/24
$line-height-computed:    floor(($font-size-base * $line-height-base)); // 24px

$headings-line-height:    1.2;
$headings-color:          lighten($gray-base, 21%);