.header{
  &__main{
    position: relative;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  &__inner{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  &__primary{
    color: #ffffff;
    background-color: $brand-primary;
    .container{background-color: inherit}
  }
  &__additional{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
  }
}