.btn{
  font-family: $headings-font-family;
  text-transform: uppercase;
  &_underline_dot{
    text-decoration: none !important;
    .span{border-bottom: 1px dotted}
    &:hover span{border-bottom-color: transparent}
  }
}
.btn-link {
  color: $headings-color;
  font-weight: $btn-font-weight;
}