.header__logo{
  position: relative;
  a{
    text-indent: -999px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  @media (min-width: $screen-sm-min) {
    img{
      pointer-events: none;
      margin-bottom: -$grid-gutter-width;
    }
  }
}