.social{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  &__title{
    font-size: $font-size-base;
    font-weight: bold;
    margin: $x 0;
    margin-right: $grid-gutter-width;
    @media (max-width: $screen-xs-max) {
      width: 100%;
      margin-right: 0;
    }
  }
  &__list {
    margin-bottom: 0;
    .a{
      font-size: $font-size-large;
      display: block;
      color: $brand-primary;
      background-color: #ffffff;
      text-align: center;
      border-radius: 50%;
      width: 2em;
      line-height: 2em;
      &, &:hover, &:active, &:focus{
        text-decoration: none;
        color: $brand-primary;
      }
    }
  }
}