.nav-list-inline__dropdown{
  white-space: nowrap;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  list-style: none;
  padding: 0 $grid-gutter-width/2;
  margin: 0;
  display: none;
  background-color: #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding: $grid-gutter-width/2;
  @supports (pointer-events: none) {
    display: block;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.35s ease;
  }
  .nav-list-inline__li{
    padding: $x $x*3;
  }
  .nav-list-inline__li:hover &{
    display: block;
    @supports (pointer-events: none) {
      pointer-events: auto;
      opacity: 1;
    }
  }
}