@import "variables.scss";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?w7li4u');
  src:  url('#{$icomoon-font-path}/icomoon.eot?w7li4u#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?w7li4u') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?w7li4u') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?w7li4u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-eye {
  &:before {
    content: $icomoon-eye;
  }
}
.icomoon-bar-chart {
  &:before {
    content: $icomoon-bar-chart;
  }
}
.icomoon-dislike {
  &:before {
    content: $icomoon-dislike;
  }
}
.icomoon-dislike-1 {
  &:before {
    content: $icomoon-dislike-1;
  }
}
.icomoon-heart-2 {
  &:before {
    content: $icomoon-heart-2;
  }
}
.icomoon-levels {
  &:before {
    content: $icomoon-levels;
  }
}
.icomoon-levels-1 {
  &:before {
    content: $icomoon-levels-1;
  }
}
.icomoon-like {
  &:before {
    content: $icomoon-like;
  }
}
.icomoon-like-1 {
  &:before {
    content: $icomoon-like-1;
  }
}
.icomoon-list-4 {
  &:before {
    content: $icomoon-list-4;
  }
}
.icomoon-login {
  &:before {
    content: $icomoon-login;
  }
}
.icomoon-logout {
  &:before {
    content: $icomoon-logout;
  }
}
.icomoon-megaphone {
  &:before {
    content: $icomoon-megaphone;
  }
}
.icomoon-menu {
  &:before {
    content: $icomoon-menu;
  }
}
.icomoon-menu-1 {
  &:before {
    content: $icomoon-menu-1;
  }
}
.icomoon-menu-2 {
  &:before {
    content: $icomoon-menu-2;
  }
}
.icomoon-microphone {
  &:before {
    content: $icomoon-microphone;
  }
}
.icomoon-minimize-2 {
  &:before {
    content: $icomoon-minimize-2;
  }
}
.icomoon-minimize-3 {
  &:before {
    content: $icomoon-minimize-3;
  }
}
.icomoon-more {
  &:before {
    content: $icomoon-more;
  }
}
.icomoon-more-1 {
  &:before {
    content: $icomoon-more-1;
  }
}
.icomoon-move {
  &:before {
    content: $icomoon-move;
  }
}
.icomoon-move-1 {
  &:before {
    content: $icomoon-move-1;
  }
}
.icomoon-next {
  &:before {
    content: $icomoon-next;
  }
}
.icomoon-next-1 {
  &:before {
    content: $icomoon-next-1;
  }
}
.icomoon-orientation {
  &:before {
    content: $icomoon-orientation;
  }
}
.icomoon-padlock {
  &:before {
    content: $icomoon-padlock;
  }
}
.icomoon-padlock-1 {
  &:before {
    content: $icomoon-padlock-1;
  }
}
.icomoon-paper-plane {
  &:before {
    content: $icomoon-paper-plane;
  }
}
.icomoon-photo-camera {
  &:before {
    content: $icomoon-photo-camera;
  }
}
.icomoon-picture {
  &:before {
    content: $icomoon-picture;
  }
}
.icomoon-placeholder {
  &:before {
    content: $icomoon-placeholder;
  }
}
.icomoon-previous {
  &:before {
    content: $icomoon-previous;
  }
}
.icomoon-previous-1 {
  &:before {
    content: $icomoon-previous-1;
  }
}
.icomoon-save {
  &:before {
    content: $icomoon-save;
  }
}
.icomoon-search {
  &:before {
    content: $icomoon-search;
  }
}
.icomoon-smartphone {
  &:before {
    content: $icomoon-smartphone;
  }
}
.icomoon-smartphone-1 {
  &:before {
    content: $icomoon-smartphone-1;
  }
}
.icomoon-speech-bubble {
  &:before {
    content: $icomoon-speech-bubble;
  }
}
.icomoon-speech-bubble-18 {
  &:before {
    content: $icomoon-speech-bubble-18;
  }
}
.icomoon-speech-bubble-24 {
  &:before {
    content: $icomoon-speech-bubble-24;
  }
}
.icomoon-star2 {
  &:before {
    content: $icomoon-star2;
  }
}
.icomoon-sticker {
  &:before {
    content: $icomoon-sticker;
  }
}
.icomoon-sticker-3 {
  &:before {
    content: $icomoon-sticker-3;
  }
}
.icomoon-sticker-4 {
  &:before {
    content: $icomoon-sticker-4;
  }
}
.icomoon-stick-man-4 {
  &:before {
    content: $icomoon-stick-man-4;
  }
}
.icomoon-tap {
  &:before {
    content: $icomoon-tap;
  }
}
.icomoon-telephone-3 {
  &:before {
    content: $icomoon-telephone-3;
  }
}
.icomoon-transfer-1 {
  &:before {
    content: $icomoon-transfer-1;
  }
}
.icomoon-user-1 {
  &:before {
    content: $icomoon-user-1;
  }
}
.icomoon-user-2 {
  &:before {
    content: $icomoon-user-2;
  }
}
.icomoon-scorpio {
  &:before {
    content: $icomoon-scorpio;
  }
}
.icomoon-aries {
  &:before {
    content: $icomoon-aries;
  }
}
.icomoon-capricorn {
  &:before {
    content: $icomoon-capricorn;
  }
}
.icomoon-leo {
  &:before {
    content: $icomoon-leo;
  }
}
.icomoon-libra {
  &:before {
    content: $icomoon-libra;
  }
}
.icomoon-gemini {
  &:before {
    content: $icomoon-gemini;
  }
}
.icomoon-taurus {
  &:before {
    content: $icomoon-taurus;
  }
}
.icomoon-sagittarius {
  &:before {
    content: $icomoon-sagittarius;
  }
}
.icomoon-pisces {
  &:before {
    content: $icomoon-pisces;
  }
}
.icomoon-virgo {
  &:before {
    content: $icomoon-virgo;
  }
}
.icomoon-aquarius {
  &:before {
    content: $icomoon-aquarius;
  }
}
.icomoon-cancer {
  &:before {
    content: $icomoon-cancer;
  }
}
.icomoon-alert-circle {
  &:before {
    content: $icomoon-alert-circle;
  }
}
.icomoon-alert-octagon {
  &:before {
    content: $icomoon-alert-octagon;
  }
}
.icomoon-alert-triangle {
  &:before {
    content: $icomoon-alert-triangle;
  }
}
.icomoon-arrow-down {
  &:before {
    content: $icomoon-arrow-down;
  }
}
.icomoon-arrow-left {
  &:before {
    content: $icomoon-arrow-left;
  }
}
.icomoon-arrow-right {
  &:before {
    content: $icomoon-arrow-right;
  }
}
.icomoon-arrow-up {
  &:before {
    content: $icomoon-arrow-up;
  }
}
.icomoon-at-sign {
  &:before {
    content: $icomoon-at-sign;
  }
}
.icomoon-award {
  &:before {
    content: $icomoon-award;
  }
}
.icomoon-bookmark {
  &:before {
    content: $icomoon-bookmark;
  }
}
.icomoon-camera-off {
  &:before {
    content: $icomoon-camera-off;
  }
}
.icomoon-camera {
  &:before {
    content: $icomoon-camera;
  }
}
.icomoon-check-circle {
  &:before {
    content: $icomoon-check-circle;
  }
}
.icomoon-check-square {
  &:before {
    content: $icomoon-check-square;
  }
}
.icomoon-check {
  &:before {
    content: $icomoon-check;
  }
}
.icomoon-chevron-down {
  &:before {
    content: $icomoon-chevron-down;
  }
}
.icomoon-chevron-left {
  &:before {
    content: $icomoon-chevron-left;
  }
}
.icomoon-chevron-right {
  &:before {
    content: $icomoon-chevron-right;
  }
}
.icomoon-chevron-up {
  &:before {
    content: $icomoon-chevron-up;
  }
}
.icomoon-clock {
  &:before {
    content: $icomoon-clock;
  }
}
.icomoon-cog {
  &:before {
    content: $icomoon-cog;
  }
}
.icomoon-comment-circle {
  &:before {
    content: $icomoon-comment-circle;
  }
}
.icomoon-comment-square {
  &:before {
    content: $icomoon-comment-square;
  }
}
.icomoon-eye2 {
  &:before {
    content: $icomoon-eye2;
  }
}
.icomoon-facebook {
  &:before {
    content: $icomoon-facebook;
  }
}
.icomoon-heart {
  &:before {
    content: $icomoon-heart;
  }
}
.icomoon-image {
  &:before {
    content: $icomoon-image;
  }
}
.icomoon-info {
  &:before {
    content: $icomoon-info;
  }
}
.icomoon-instagram {
  &:before {
    content: $icomoon-instagram;
  }
}
.icomoon-mail {
  &:before {
    content: $icomoon-mail;
  }
}
.icomoon-map-pin {
  &:before {
    content: $icomoon-map-pin;
  }
}
.icomoon-map {
  &:before {
    content: $icomoon-map;
  }
}
.icomoon-maximize-2 {
  &:before {
    content: $icomoon-maximize-2;
  }
}
.icomoon-minimize-22 {
  &:before {
    content: $icomoon-minimize-22;
  }
}
.icomoon-more-horizontal {
  &:before {
    content: $icomoon-more-horizontal;
  }
}
.icomoon-more-vertical {
  &:before {
    content: $icomoon-more-vertical;
  }
}
.icomoon-search2 {
  &:before {
    content: $icomoon-search2;
  }
}
.icomoon-star {
  &:before {
    content: $icomoon-star;
  }
}
.icomoon-thumbs-down {
  &:before {
    content: $icomoon-thumbs-down;
  }
}
.icomoon-thumbs-up {
  &:before {
    content: $icomoon-thumbs-up;
  }
}
.icomoon-toggle-left {
  &:before {
    content: $icomoon-toggle-left;
  }
}
.icomoon-toggle-right {
  &:before {
    content: $icomoon-toggle-right;
  }
}
.icomoon-twitter {
  &:before {
    content: $icomoon-twitter;
  }
}
.icomoon-video {
  &:before {
    content: $icomoon-video;
  }
}
.icomoon-watch {
  &:before {
    content: $icomoon-watch;
  }
}
.icomoon-x-circle {
  &:before {
    content: $icomoon-x-circle;
  }
}
.icomoon-x-square {
  &:before {
    content: $icomoon-x-square;
  }
}
.icomoon-x {
  &:before {
    content: $icomoon-x;
  }
}
.icomoon-zoom-in {
  &:before {
    content: $icomoon-zoom-in;
  }
}
.icomoon-zoom-out {
  &:before {
    content: $icomoon-zoom-out;
  }
}

