$icomoon-font-path: "fonts" !default;

$icomoon-eye: "\e960";
$icomoon-bar-chart: "\e944";
$icomoon-dislike: "\e945";
$icomoon-dislike-1: "\e946";
$icomoon-heart-2: "\e902";
$icomoon-levels: "\e947";
$icomoon-levels-1: "\e948";
$icomoon-like: "\e949";
$icomoon-like-1: "\e94a";
$icomoon-list-4: "\e94b";
$icomoon-login: "\e969";
$icomoon-logout: "\e96a";
$icomoon-megaphone: "\e903";
$icomoon-menu: "\e94c";
$icomoon-menu-1: "\e94d";
$icomoon-menu-2: "\e94e";
$icomoon-microphone: "\e94f";
$icomoon-minimize-2: "\e950";
$icomoon-minimize-3: "\e951";
$icomoon-more: "\e952";
$icomoon-more-1: "\e953";
$icomoon-move: "\e954";
$icomoon-move-1: "\e955";
$icomoon-next: "\e956";
$icomoon-next-1: "\e957";
$icomoon-orientation: "\e958";
$icomoon-padlock: "\e96b";
$icomoon-padlock-1: "\e96c";
$icomoon-paper-plane: "\e959";
$icomoon-photo-camera: "\e95a";
$icomoon-picture: "\e904";
$icomoon-placeholder: "\e95b";
$icomoon-previous: "\e95c";
$icomoon-previous-1: "\e95d";
$icomoon-save: "\e96d";
$icomoon-search: "\e905";
$icomoon-smartphone: "\e95e";
$icomoon-smartphone-1: "\e95f";
$icomoon-speech-bubble: "\e906";
$icomoon-speech-bubble-18: "\e961";
$icomoon-speech-bubble-24: "\e96e";
$icomoon-star2: "\e96f";
$icomoon-sticker: "\e962";
$icomoon-sticker-3: "\e963";
$icomoon-sticker-4: "\e964";
$icomoon-stick-man-4: "\e965";
$icomoon-tap: "\e966";
$icomoon-telephone-3: "\e967";
$icomoon-transfer-1: "\e970";
$icomoon-user-1: "\e916";
$icomoon-user-2: "\e968";
$icomoon-scorpio: "\e907";
$icomoon-aries: "\e908";
$icomoon-capricorn: "\e909";
$icomoon-leo: "\e90a";
$icomoon-libra: "\e90b";
$icomoon-gemini: "\e90c";
$icomoon-taurus: "\e90d";
$icomoon-sagittarius: "\e90e";
$icomoon-pisces: "\e90f";
$icomoon-virgo: "\e910";
$icomoon-aquarius: "\e911";
$icomoon-cancer: "\e912";
$icomoon-alert-circle: "\e917";
$icomoon-alert-octagon: "\e918";
$icomoon-alert-triangle: "\e919";
$icomoon-arrow-down: "\e91a";
$icomoon-arrow-left: "\e91b";
$icomoon-arrow-right: "\e91c";
$icomoon-arrow-up: "\e91d";
$icomoon-at-sign: "\e91e";
$icomoon-award: "\e91f";
$icomoon-bookmark: "\e920";
$icomoon-camera-off: "\e921";
$icomoon-camera: "\e922";
$icomoon-check-circle: "\e923";
$icomoon-check-square: "\e924";
$icomoon-check: "\e925";
$icomoon-chevron-down: "\e926";
$icomoon-chevron-left: "\e927";
$icomoon-chevron-right: "\e928";
$icomoon-chevron-up: "\e929";
$icomoon-clock: "\e92a";
$icomoon-cog: "\e92b";
$icomoon-comment-circle: "\e92c";
$icomoon-comment-square: "\e92d";
$icomoon-eye2: "\e900";
$icomoon-facebook: "\e92e";
$icomoon-heart: "\e92f";
$icomoon-image: "\e930";
$icomoon-info: "\e931";
$icomoon-instagram: "\e932";
$icomoon-mail: "\e933";
$icomoon-map-pin: "\e934";
$icomoon-map: "\e935";
$icomoon-maximize-2: "\e936";
$icomoon-minimize-22: "\e937";
$icomoon-more-horizontal: "\e938";
$icomoon-more-vertical: "\e939";
$icomoon-search2: "\e901";
$icomoon-star: "\e93a";
$icomoon-thumbs-down: "\e93b";
$icomoon-thumbs-up: "\e93c";
$icomoon-toggle-left: "\e93d";
$icomoon-toggle-right: "\e93e";
$icomoon-twitter: "\e93f";
$icomoon-video: "\e913";
$icomoon-watch: "\e914";
$icomoon-x-circle: "\e940";
$icomoon-x-square: "\e941";
$icomoon-x: "\e915";
$icomoon-zoom-in: "\e942";
$icomoon-zoom-out: "\e943";